[Unit]
Description=Ode: your friendly neighborhood discord bot
After=network.target

[Service]
User=ode
WorkingDirectory=/home/ode/ode
ExecStart=/bin/bash run.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
